<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ArtisanMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Artisan" >
    <id column="artisanid" property="artisanid" jdbcType="VARCHAR" />
    <result column="teamid" property="teamid" jdbcType="INTEGER" />
    <result column="starsid" property="starsid" jdbcType="INTEGER" />
    <result column="isgroup" property="isgroup" jdbcType="BIT" />
    <result column="aname" property="aname" jdbcType="VARCHAR" />
    <result column="asex" property="asex" jdbcType="INTEGER" />
    <result column="aphone" property="aphone" jdbcType="VARCHAR" />
    <result column="loginaid" property="loginaid" jdbcType="VARCHAR" />
    <result column="loginapaw" property="loginapaw" jdbcType="VARCHAR" />
    <result column="idcaid" property="idcaid" jdbcType="VARCHAR" />
    <result column="araddress" property="araddress" jdbcType="VARCHAR" />
    <result column="craft" property="craft" jdbcType="VARCHAR" />
    <result column="maintainBrand" property="maintainbrand" jdbcType="VARCHAR" />
    <result column="wechat" property="wechat" jdbcType="VARCHAR" />
    <result column="hkaddress" property="hkaddress" jdbcType="VARCHAR" />
    <result column="khbank" property="khbank" jdbcType="VARCHAR" />
    <result column="bankid" property="bankid" jdbcType="VARCHAR" />
    <result column="repairgonzhon" property="repairgonzhon" jdbcType="VARCHAR" />
    <result column="repairbrand" property="repairbrand" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    artisanid, teamid, starsid, isgroup, aname, asex, aphone, loginaid, loginapaw, idcaid, 
    araddress, craft, maintainBrand, wechat, hkaddress, khbank, bankid, repairgonzhon, 
    repairbrand
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ArtisanExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from artisan
    where artisanid = #{artisanid,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from artisan
    where artisanid = #{artisanid,jdbcType=VARCHAR}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ArtisanExample" >
    delete from artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Artisan" >
    insert into artisan (artisanid, teamid, starsid, 
      isgroup, aname, asex, aphone, 
      loginaid, loginapaw, idcaid, 
      araddress, craft, maintainBrand, 
      wechat, hkaddress, khbank, 
      bankid, repairgonzhon, repairbrand
      )
    values (#{artisanid,jdbcType=VARCHAR}, #{teamid,jdbcType=INTEGER}, #{starsid,jdbcType=INTEGER}, 
      #{isgroup,jdbcType=BIT}, #{aname,jdbcType=VARCHAR}, #{asex,jdbcType=INTEGER}, #{aphone,jdbcType=VARCHAR}, 
      #{loginaid,jdbcType=VARCHAR}, #{loginapaw,jdbcType=VARCHAR}, #{idcaid,jdbcType=VARCHAR}, 
      #{araddress,jdbcType=VARCHAR}, #{craft,jdbcType=VARCHAR}, #{maintainbrand,jdbcType=VARCHAR}, 
      #{wechat,jdbcType=VARCHAR}, #{hkaddress,jdbcType=VARCHAR}, #{khbank,jdbcType=VARCHAR}, 
      #{bankid,jdbcType=VARCHAR}, #{repairgonzhon,jdbcType=VARCHAR}, #{repairbrand,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Artisan" >
    insert into artisan
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="artisanid != null" >
        artisanid,
      </if>
      <if test="teamid != null" >
        teamid,
      </if>
      <if test="starsid != null" >
        starsid,
      </if>
      <if test="isgroup != null" >
        isgroup,
      </if>
      <if test="aname != null" >
        aname,
      </if>
      <if test="asex != null" >
        asex,
      </if>
      <if test="aphone != null" >
        aphone,
      </if>
      <if test="loginaid != null" >
        loginaid,
      </if>
      <if test="loginapaw != null" >
        loginapaw,
      </if>
      <if test="idcaid != null" >
        idcaid,
      </if>
      <if test="araddress != null" >
        araddress,
      </if>
      <if test="craft != null" >
        craft,
      </if>
      <if test="maintainbrand != null" >
        maintainBrand,
      </if>
      <if test="wechat != null" >
        wechat,
      </if>
      <if test="hkaddress != null" >
        hkaddress,
      </if>
      <if test="khbank != null" >
        khbank,
      </if>
      <if test="bankid != null" >
        bankid,
      </if>
      <if test="repairgonzhon != null" >
        repairgonzhon,
      </if>
      <if test="repairbrand != null" >
        repairbrand,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="artisanid != null" >
        #{artisanid,jdbcType=VARCHAR},
      </if>
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="starsid != null" >
        #{starsid,jdbcType=INTEGER},
      </if>
      <if test="isgroup != null" >
        #{isgroup,jdbcType=BIT},
      </if>
      <if test="aname != null" >
        #{aname,jdbcType=VARCHAR},
      </if>
      <if test="asex != null" >
        #{asex,jdbcType=INTEGER},
      </if>
      <if test="aphone != null" >
        #{aphone,jdbcType=VARCHAR},
      </if>
      <if test="loginaid != null" >
        #{loginaid,jdbcType=VARCHAR},
      </if>
      <if test="loginapaw != null" >
        #{loginapaw,jdbcType=VARCHAR},
      </if>
      <if test="idcaid != null" >
        #{idcaid,jdbcType=VARCHAR},
      </if>
      <if test="araddress != null" >
        #{araddress,jdbcType=VARCHAR},
      </if>
      <if test="craft != null" >
        #{craft,jdbcType=VARCHAR},
      </if>
      <if test="maintainbrand != null" >
        #{maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="hkaddress != null" >
        #{hkaddress,jdbcType=VARCHAR},
      </if>
      <if test="khbank != null" >
        #{khbank,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="repairgonzhon != null" >
        #{repairgonzhon,jdbcType=VARCHAR},
      </if>
      <if test="repairbrand != null" >
        #{repairbrand,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ArtisanExample" resultType="java.lang.Integer" >
    select count(*) from artisan
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update artisan
    <set >
      <if test="record.artisanid != null" >
        artisanid = #{record.artisanid,jdbcType=VARCHAR},
      </if>
      <if test="record.teamid != null" >
        teamid = #{record.teamid,jdbcType=INTEGER},
      </if>
      <if test="record.starsid != null" >
        starsid = #{record.starsid,jdbcType=INTEGER},
      </if>
      <if test="record.isgroup != null" >
        isgroup = #{record.isgroup,jdbcType=BIT},
      </if>
      <if test="record.aname != null" >
        aname = #{record.aname,jdbcType=VARCHAR},
      </if>
      <if test="record.asex != null" >
        asex = #{record.asex,jdbcType=INTEGER},
      </if>
      <if test="record.aphone != null" >
        aphone = #{record.aphone,jdbcType=VARCHAR},
      </if>
      <if test="record.loginaid != null" >
        loginaid = #{record.loginaid,jdbcType=VARCHAR},
      </if>
      <if test="record.loginapaw != null" >
        loginapaw = #{record.loginapaw,jdbcType=VARCHAR},
      </if>
      <if test="record.idcaid != null" >
        idcaid = #{record.idcaid,jdbcType=VARCHAR},
      </if>
      <if test="record.araddress != null" >
        araddress = #{record.araddress,jdbcType=VARCHAR},
      </if>
      <if test="record.craft != null" >
        craft = #{record.craft,jdbcType=VARCHAR},
      </if>
      <if test="record.maintainbrand != null" >
        maintainBrand = #{record.maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="record.wechat != null" >
        wechat = #{record.wechat,jdbcType=VARCHAR},
      </if>
      <if test="record.hkaddress != null" >
        hkaddress = #{record.hkaddress,jdbcType=VARCHAR},
      </if>
      <if test="record.khbank != null" >
        khbank = #{record.khbank,jdbcType=VARCHAR},
      </if>
      <if test="record.bankid != null" >
        bankid = #{record.bankid,jdbcType=VARCHAR},
      </if>
      <if test="record.repairgonzhon != null" >
        repairgonzhon = #{record.repairgonzhon,jdbcType=VARCHAR},
      </if>
      <if test="record.repairbrand != null" >
        repairbrand = #{record.repairbrand,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update artisan
    set artisanid = #{record.artisanid,jdbcType=VARCHAR},
      teamid = #{record.teamid,jdbcType=INTEGER},
      starsid = #{record.starsid,jdbcType=INTEGER},
      isgroup = #{record.isgroup,jdbcType=BIT},
      aname = #{record.aname,jdbcType=VARCHAR},
      asex = #{record.asex,jdbcType=INTEGER},
      aphone = #{record.aphone,jdbcType=VARCHAR},
      loginaid = #{record.loginaid,jdbcType=VARCHAR},
      loginapaw = #{record.loginapaw,jdbcType=VARCHAR},
      idcaid = #{record.idcaid,jdbcType=VARCHAR},
      araddress = #{record.araddress,jdbcType=VARCHAR},
      craft = #{record.craft,jdbcType=VARCHAR},
      maintainBrand = #{record.maintainbrand,jdbcType=VARCHAR},
      wechat = #{record.wechat,jdbcType=VARCHAR},
      hkaddress = #{record.hkaddress,jdbcType=VARCHAR},
      khbank = #{record.khbank,jdbcType=VARCHAR},
      bankid = #{record.bankid,jdbcType=VARCHAR},
      repairgonzhon = #{record.repairgonzhon,jdbcType=VARCHAR},
      repairbrand = #{record.repairbrand,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Artisan" >
    update artisan
    <set >
      <if test="teamid != null" >
        teamid = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="starsid != null" >
        starsid = #{starsid,jdbcType=INTEGER},
      </if>
      <if test="isgroup != null" >
        isgroup = #{isgroup,jdbcType=BIT},
      </if>
      <if test="aname != null" >
        aname = #{aname,jdbcType=VARCHAR},
      </if>
      <if test="asex != null" >
        asex = #{asex,jdbcType=INTEGER},
      </if>
      <if test="aphone != null" >
        aphone = #{aphone,jdbcType=VARCHAR},
      </if>
      <if test="loginaid != null" >
        loginaid = #{loginaid,jdbcType=VARCHAR},
      </if>
      <if test="loginapaw != null" >
        loginapaw = #{loginapaw,jdbcType=VARCHAR},
      </if>
      <if test="idcaid != null" >
        idcaid = #{idcaid,jdbcType=VARCHAR},
      </if>
      <if test="araddress != null" >
        araddress = #{araddress,jdbcType=VARCHAR},
      </if>
      <if test="craft != null" >
        craft = #{craft,jdbcType=VARCHAR},
      </if>
      <if test="maintainbrand != null" >
        maintainBrand = #{maintainbrand,jdbcType=VARCHAR},
      </if>
      <if test="wechat != null" >
        wechat = #{wechat,jdbcType=VARCHAR},
      </if>
      <if test="hkaddress != null" >
        hkaddress = #{hkaddress,jdbcType=VARCHAR},
      </if>
      <if test="khbank != null" >
        khbank = #{khbank,jdbcType=VARCHAR},
      </if>
      <if test="bankid != null" >
        bankid = #{bankid,jdbcType=VARCHAR},
      </if>
      <if test="repairgonzhon != null" >
        repairgonzhon = #{repairgonzhon,jdbcType=VARCHAR},
      </if>
      <if test="repairbrand != null" >
        repairbrand = #{repairbrand,jdbcType=VARCHAR},
      </if>
    </set>
    where artisanid = #{artisanid,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Artisan" >
    update artisan
    set teamid = #{teamid,jdbcType=INTEGER},
      starsid = #{starsid,jdbcType=INTEGER},
      isgroup = #{isgroup,jdbcType=BIT},
      aname = #{aname,jdbcType=VARCHAR},
      asex = #{asex,jdbcType=INTEGER},
      aphone = #{aphone,jdbcType=VARCHAR},
      loginaid = #{loginaid,jdbcType=VARCHAR},
      loginapaw = #{loginapaw,jdbcType=VARCHAR},
      idcaid = #{idcaid,jdbcType=VARCHAR},
      araddress = #{araddress,jdbcType=VARCHAR},
      craft = #{craft,jdbcType=VARCHAR},
      maintainBrand = #{maintainbrand,jdbcType=VARCHAR},
      wechat = #{wechat,jdbcType=VARCHAR},
      hkaddress = #{hkaddress,jdbcType=VARCHAR},
      khbank = #{khbank,jdbcType=VARCHAR},
      bankid = #{bankid,jdbcType=VARCHAR},
      repairgonzhon = #{repairgonzhon,jdbcType=VARCHAR},
      repairbrand = #{repairbrand,jdbcType=VARCHAR}
    where artisanid = #{artisanid,jdbcType=VARCHAR}
  </update>
</mapper>