<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.CartypesMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Cartypes" >
    <id column="ctsid" property="ctsid" jdbcType="INTEGER" />
    <result column="ctsnames" property="ctsnames" jdbcType="VARCHAR" />
    <result column="cartypeszm" property="cartypeszm" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    ctsid, ctsnames, cartypeszm
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CartypesExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cartypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cartypes
    where ctsid = #{ctsid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cartypes
    where ctsid = #{ctsid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CartypesExample" >
    delete from cartypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Cartypes" >
    insert into cartypes (ctsid, ctsnames, cartypeszm
      )
    values (#{ctsid,jdbcType=INTEGER}, #{ctsnames,jdbcType=VARCHAR}, #{cartypeszm,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Cartypes" >
    insert into cartypes
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="ctsid != null" >
        ctsid,
      </if>
      <if test="ctsnames != null" >
        ctsnames,
      </if>
      <if test="cartypeszm != null" >
        cartypeszm,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="ctsid != null" >
        #{ctsid,jdbcType=INTEGER},
      </if>
      <if test="ctsnames != null" >
        #{ctsnames,jdbcType=VARCHAR},
      </if>
      <if test="cartypeszm != null" >
        #{cartypeszm,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CartypesExample" resultType="java.lang.Integer" >
    select count(*) from cartypes
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cartypes
    <set >
      <if test="record.ctsid != null" >
        ctsid = #{record.ctsid,jdbcType=INTEGER},
      </if>
      <if test="record.ctsnames != null" >
        ctsnames = #{record.ctsnames,jdbcType=VARCHAR},
      </if>
      <if test="record.cartypeszm != null" >
        cartypeszm = #{record.cartypeszm,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cartypes
    set ctsid = #{record.ctsid,jdbcType=INTEGER},
      ctsnames = #{record.ctsnames,jdbcType=VARCHAR},
      cartypeszm = #{record.cartypeszm,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Cartypes" >
    update cartypes
    <set >
      <if test="ctsnames != null" >
        ctsnames = #{ctsnames,jdbcType=VARCHAR},
      </if>
      <if test="cartypeszm != null" >
        cartypeszm = #{cartypeszm,jdbcType=VARCHAR},
      </if>
    </set>
    where ctsid = #{ctsid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Cartypes" >
    update cartypes
    set ctsnames = #{ctsnames,jdbcType=VARCHAR},
      cartypeszm = #{cartypeszm,jdbcType=VARCHAR}
    where ctsid = #{ctsid,jdbcType=INTEGER}
  </update>
</mapper>