<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.CashiersMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Cashiers" >
    <id column="casid" property="casid" jdbcType="INTEGER" />
    <result column="insid" property="insid" jdbcType="INTEGER" />
    <result column="cashiersprice" property="cashiersprice" jdbcType="REAL" />
    <result column="shijprice" property="shijprice" jdbcType="REAL" />
    <result column="paymenttemp" property="paymenttemp" jdbcType="VARCHAR" />
    <result column="jfdk" property="jfdk" jdbcType="REAL" />
    <result column="cashierstimes" property="cashierstimes" jdbcType="DATE" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    casid, insid, cashiersprice, shijprice, paymenttemp, jfdk, cashierstimes
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.CashiersExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from cashiers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from cashiers
    where casid = #{casid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from cashiers
    where casid = #{casid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.CashiersExample" >
    delete from cashiers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Cashiers" >
    insert into cashiers (casid, insid, cashiersprice, 
      shijprice, paymenttemp, jfdk, 
      cashierstimes)
    values (#{casid,jdbcType=INTEGER}, #{insid,jdbcType=INTEGER}, #{cashiersprice,jdbcType=REAL}, 
      #{shijprice,jdbcType=REAL}, #{paymenttemp,jdbcType=VARCHAR}, #{jfdk,jdbcType=REAL}, 
      #{cashierstimes,jdbcType=DATE})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Cashiers" >
    insert into cashiers
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="casid != null" >
        casid,
      </if>
      <if test="insid != null" >
        insid,
      </if>
      <if test="cashiersprice != null" >
        cashiersprice,
      </if>
      <if test="shijprice != null" >
        shijprice,
      </if>
      <if test="paymenttemp != null" >
        paymenttemp,
      </if>
      <if test="jfdk != null" >
        jfdk,
      </if>
      <if test="cashierstimes != null" >
        cashierstimes,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="casid != null" >
        #{casid,jdbcType=INTEGER},
      </if>
      <if test="insid != null" >
        #{insid,jdbcType=INTEGER},
      </if>
      <if test="cashiersprice != null" >
        #{cashiersprice,jdbcType=REAL},
      </if>
      <if test="shijprice != null" >
        #{shijprice,jdbcType=REAL},
      </if>
      <if test="paymenttemp != null" >
        #{paymenttemp,jdbcType=VARCHAR},
      </if>
      <if test="jfdk != null" >
        #{jfdk,jdbcType=REAL},
      </if>
      <if test="cashierstimes != null" >
        #{cashierstimes,jdbcType=DATE},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.CashiersExample" resultType="java.lang.Integer" >
    select count(*) from cashiers
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update cashiers
    <set >
      <if test="record.casid != null" >
        casid = #{record.casid,jdbcType=INTEGER},
      </if>
      <if test="record.insid != null" >
        insid = #{record.insid,jdbcType=INTEGER},
      </if>
      <if test="record.cashiersprice != null" >
        cashiersprice = #{record.cashiersprice,jdbcType=REAL},
      </if>
      <if test="record.shijprice != null" >
        shijprice = #{record.shijprice,jdbcType=REAL},
      </if>
      <if test="record.paymenttemp != null" >
        paymenttemp = #{record.paymenttemp,jdbcType=VARCHAR},
      </if>
      <if test="record.jfdk != null" >
        jfdk = #{record.jfdk,jdbcType=REAL},
      </if>
      <if test="record.cashierstimes != null" >
        cashierstimes = #{record.cashierstimes,jdbcType=DATE},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update cashiers
    set casid = #{record.casid,jdbcType=INTEGER},
      insid = #{record.insid,jdbcType=INTEGER},
      cashiersprice = #{record.cashiersprice,jdbcType=REAL},
      shijprice = #{record.shijprice,jdbcType=REAL},
      paymenttemp = #{record.paymenttemp,jdbcType=VARCHAR},
      jfdk = #{record.jfdk,jdbcType=REAL},
      cashierstimes = #{record.cashierstimes,jdbcType=DATE}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Cashiers" >
    update cashiers
    <set >
      <if test="insid != null" >
        insid = #{insid,jdbcType=INTEGER},
      </if>
      <if test="cashiersprice != null" >
        cashiersprice = #{cashiersprice,jdbcType=REAL},
      </if>
      <if test="shijprice != null" >
        shijprice = #{shijprice,jdbcType=REAL},
      </if>
      <if test="paymenttemp != null" >
        paymenttemp = #{paymenttemp,jdbcType=VARCHAR},
      </if>
      <if test="jfdk != null" >
        jfdk = #{jfdk,jdbcType=REAL},
      </if>
      <if test="cashierstimes != null" >
        cashierstimes = #{cashierstimes,jdbcType=DATE},
      </if>
    </set>
    where casid = #{casid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Cashiers" >
    update cashiers
    set insid = #{insid,jdbcType=INTEGER},
      cashiersprice = #{cashiersprice,jdbcType=REAL},
      shijprice = #{shijprice,jdbcType=REAL},
      paymenttemp = #{paymenttemp,jdbcType=VARCHAR},
      jfdk = #{jfdk,jdbcType=REAL},
      cashierstimes = #{cashierstimes,jdbcType=DATE}
    where casid = #{casid,jdbcType=INTEGER}
  </update>
</mapper>