<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.FirmtreeMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Firmtree" >
    <id column="citytreeid" property="citytreeid" jdbcType="INTEGER" />
    <result column="cityname" property="cityname" jdbcType="VARCHAR" />
    <result column="parentid" property="parentid" jdbcType="INTEGER" />
    <result column="biaoshiid" property="biaoshiid" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    citytreeid, cityname, parentid, biaoshiid
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.FirmtreeExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from firmtree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from firmtree
    where citytreeid = #{citytreeid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from firmtree
    where citytreeid = #{citytreeid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.FirmtreeExample" >
    delete from firmtree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Firmtree" >
    insert into firmtree (citytreeid, cityname, parentid, 
      biaoshiid)
    values (#{citytreeid,jdbcType=INTEGER}, #{cityname,jdbcType=VARCHAR}, #{parentid,jdbcType=INTEGER}, 
      #{biaoshiid,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Firmtree" >
    insert into firmtree
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="citytreeid != null" >
        citytreeid,
      </if>
      <if test="cityname != null" >
        cityname,
      </if>
      <if test="parentid != null" >
        parentid,
      </if>
      <if test="biaoshiid != null" >
        biaoshiid,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="citytreeid != null" >
        #{citytreeid,jdbcType=INTEGER},
      </if>
      <if test="cityname != null" >
        #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        #{parentid,jdbcType=INTEGER},
      </if>
      <if test="biaoshiid != null" >
        #{biaoshiid,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.FirmtreeExample" resultType="java.lang.Integer" >
    select count(*) from firmtree
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update firmtree
    <set >
      <if test="record.citytreeid != null" >
        citytreeid = #{record.citytreeid,jdbcType=INTEGER},
      </if>
      <if test="record.cityname != null" >
        cityname = #{record.cityname,jdbcType=VARCHAR},
      </if>
      <if test="record.parentid != null" >
        parentid = #{record.parentid,jdbcType=INTEGER},
      </if>
      <if test="record.biaoshiid != null" >
        biaoshiid = #{record.biaoshiid,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update firmtree
    set citytreeid = #{record.citytreeid,jdbcType=INTEGER},
      cityname = #{record.cityname,jdbcType=VARCHAR},
      parentid = #{record.parentid,jdbcType=INTEGER},
      biaoshiid = #{record.biaoshiid,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Firmtree" >
    update firmtree
    <set >
      <if test="cityname != null" >
        cityname = #{cityname,jdbcType=VARCHAR},
      </if>
      <if test="parentid != null" >
        parentid = #{parentid,jdbcType=INTEGER},
      </if>
      <if test="biaoshiid != null" >
        biaoshiid = #{biaoshiid,jdbcType=INTEGER},
      </if>
    </set>
    where citytreeid = #{citytreeid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Firmtree" >
    update firmtree
    set cityname = #{cityname,jdbcType=VARCHAR},
      parentid = #{parentid,jdbcType=INTEGER},
      biaoshiid = #{biaoshiid,jdbcType=INTEGER}
    where citytreeid = #{citytreeid,jdbcType=INTEGER}
  </update>
</mapper>