<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.ViplistMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Viplist" >
    <id column="mid" property="mid" jdbcType="INTEGER" />
    <result column="viptype" property="viptype" jdbcType="VARCHAR" />
    <result column="moneytype" property="moneytype" jdbcType="VARCHAR" />
    <result column="youxianqi" property="youxianqi" jdbcType="INTEGER" />
    <result column="huifei" property="huifei" jdbcType="INTEGER" />
    <result column="ttyyppee" property="ttyyppee" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    mid, viptype, moneytype, youxianqi, huifei, ttyyppee
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.ViplistExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from viplist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from viplist
    where mid = #{mid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from viplist
    where mid = #{mid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.ViplistExample" >
    delete from viplist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Viplist" >
    insert into viplist (mid, viptype, moneytype, 
      youxianqi, huifei, ttyyppee
      )
    values (#{mid,jdbcType=INTEGER}, #{viptype,jdbcType=VARCHAR}, #{moneytype,jdbcType=VARCHAR}, 
      #{youxianqi,jdbcType=INTEGER}, #{huifei,jdbcType=INTEGER}, #{ttyyppee,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Viplist" >
    insert into viplist
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        mid,
      </if>
      <if test="viptype != null" >
        viptype,
      </if>
      <if test="moneytype != null" >
        moneytype,
      </if>
      <if test="youxianqi != null" >
        youxianqi,
      </if>
      <if test="huifei != null" >
        huifei,
      </if>
      <if test="ttyyppee != null" >
        ttyyppee,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="mid != null" >
        #{mid,jdbcType=INTEGER},
      </if>
      <if test="viptype != null" >
        #{viptype,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null" >
        #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="youxianqi != null" >
        #{youxianqi,jdbcType=INTEGER},
      </if>
      <if test="huifei != null" >
        #{huifei,jdbcType=INTEGER},
      </if>
      <if test="ttyyppee != null" >
        #{ttyyppee,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.ViplistExample" resultType="java.lang.Integer" >
    select count(*) from viplist
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update viplist
    <set >
      <if test="record.mid != null" >
        mid = #{record.mid,jdbcType=INTEGER},
      </if>
      <if test="record.viptype != null" >
        viptype = #{record.viptype,jdbcType=VARCHAR},
      </if>
      <if test="record.moneytype != null" >
        moneytype = #{record.moneytype,jdbcType=VARCHAR},
      </if>
      <if test="record.youxianqi != null" >
        youxianqi = #{record.youxianqi,jdbcType=INTEGER},
      </if>
      <if test="record.huifei != null" >
        huifei = #{record.huifei,jdbcType=INTEGER},
      </if>
      <if test="record.ttyyppee != null" >
        ttyyppee = #{record.ttyyppee,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update viplist
    set mid = #{record.mid,jdbcType=INTEGER},
      viptype = #{record.viptype,jdbcType=VARCHAR},
      moneytype = #{record.moneytype,jdbcType=VARCHAR},
      youxianqi = #{record.youxianqi,jdbcType=INTEGER},
      huifei = #{record.huifei,jdbcType=INTEGER},
      ttyyppee = #{record.ttyyppee,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Viplist" >
    update viplist
    <set >
      <if test="viptype != null" >
        viptype = #{viptype,jdbcType=VARCHAR},
      </if>
      <if test="moneytype != null" >
        moneytype = #{moneytype,jdbcType=VARCHAR},
      </if>
      <if test="youxianqi != null" >
        youxianqi = #{youxianqi,jdbcType=INTEGER},
      </if>
      <if test="huifei != null" >
        huifei = #{huifei,jdbcType=INTEGER},
      </if>
      <if test="ttyyppee != null" >
        ttyyppee = #{ttyyppee,jdbcType=VARCHAR},
      </if>
    </set>
    where mid = #{mid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Viplist" >
    update viplist
    set viptype = #{viptype,jdbcType=VARCHAR},
      moneytype = #{moneytype,jdbcType=VARCHAR},
      youxianqi = #{youxianqi,jdbcType=INTEGER},
      huifei = #{huifei,jdbcType=INTEGER},
      ttyyppee = #{ttyyppee,jdbcType=VARCHAR}
    where mid = #{mid,jdbcType=INTEGER}
  </update>
</mapper>