<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.WorkcarsMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Workcars" >
    <id column="wid" property="wid" jdbcType="INTEGER" />
    <result column="teamid" property="teamid" jdbcType="INTEGER" />
    <result column="caid" property="caid" jdbcType="VARCHAR" />
    <result column="carBrand" property="carbrand" jdbcType="VARCHAR" />
    <result column="carType" property="cartype" jdbcType="VARCHAR" />
    <result column="clic" property="clic" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wid, teamid, caid, carBrand, carType, clic
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.WorkcarsExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from workcars
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from workcars
    where wid = #{wid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from workcars
    where wid = #{wid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.WorkcarsExample" >
    delete from workcars
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Workcars" >
    insert into workcars (wid, teamid, caid, 
      carBrand, carType, clic
      )
    values (#{wid,jdbcType=INTEGER}, #{teamid,jdbcType=INTEGER}, #{caid,jdbcType=VARCHAR}, 
      #{carbrand,jdbcType=VARCHAR}, #{cartype,jdbcType=VARCHAR}, #{clic,jdbcType=INTEGER}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Workcars" >
    insert into workcars
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        wid,
      </if>
      <if test="teamid != null" >
        teamid,
      </if>
      <if test="caid != null" >
        caid,
      </if>
      <if test="carbrand != null" >
        carBrand,
      </if>
      <if test="cartype != null" >
        carType,
      </if>
      <if test="clic != null" >
        clic,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wid != null" >
        #{wid,jdbcType=INTEGER},
      </if>
      <if test="teamid != null" >
        #{teamid,jdbcType=INTEGER},
      </if>
      <if test="caid != null" >
        #{caid,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null" >
        #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="clic != null" >
        #{clic,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.WorkcarsExample" resultType="java.lang.Integer" >
    select count(*) from workcars
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update workcars
    <set >
      <if test="record.wid != null" >
        wid = #{record.wid,jdbcType=INTEGER},
      </if>
      <if test="record.teamid != null" >
        teamid = #{record.teamid,jdbcType=INTEGER},
      </if>
      <if test="record.caid != null" >
        caid = #{record.caid,jdbcType=VARCHAR},
      </if>
      <if test="record.carbrand != null" >
        carBrand = #{record.carbrand,jdbcType=VARCHAR},
      </if>
      <if test="record.cartype != null" >
        carType = #{record.cartype,jdbcType=VARCHAR},
      </if>
      <if test="record.clic != null" >
        clic = #{record.clic,jdbcType=INTEGER},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update workcars
    set wid = #{record.wid,jdbcType=INTEGER},
      teamid = #{record.teamid,jdbcType=INTEGER},
      caid = #{record.caid,jdbcType=VARCHAR},
      carBrand = #{record.carbrand,jdbcType=VARCHAR},
      carType = #{record.cartype,jdbcType=VARCHAR},
      clic = #{record.clic,jdbcType=INTEGER}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Workcars" >
    update workcars
    <set >
      <if test="teamid != null" >
        teamid = #{teamid,jdbcType=INTEGER},
      </if>
      <if test="caid != null" >
        caid = #{caid,jdbcType=VARCHAR},
      </if>
      <if test="carbrand != null" >
        carBrand = #{carbrand,jdbcType=VARCHAR},
      </if>
      <if test="cartype != null" >
        carType = #{cartype,jdbcType=VARCHAR},
      </if>
      <if test="clic != null" >
        clic = #{clic,jdbcType=INTEGER},
      </if>
    </set>
    where wid = #{wid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Workcars" >
    update workcars
    set teamid = #{teamid,jdbcType=INTEGER},
      caid = #{caid,jdbcType=VARCHAR},
      carBrand = #{carbrand,jdbcType=VARCHAR},
      carType = #{cartype,jdbcType=VARCHAR},
      clic = #{clic,jdbcType=INTEGER}
    where wid = #{wid,jdbcType=INTEGER}
  </update>
</mapper>