<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.accp.dao.WxstateMapper" >
  <resultMap id="BaseResultMap" type="com.accp.domain.Wxstate" >
    <id column="wxstateid" property="wxstateid" jdbcType="INTEGER" />
    <result column="wxstatename" property="wxstatename" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Example_Where_Clause" >
    <where >
      <foreach collection="oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Update_By_Example_Where_Clause" >
    <where >
      <foreach collection="example.oredCriteria" item="criteria" separator="or" >
        <if test="criteria.valid" >
          <trim prefix="(" suffix=")" prefixOverrides="and" >
            <foreach collection="criteria.criteria" item="criterion" >
              <choose >
                <when test="criterion.noValue" >
                  and ${criterion.condition}
                </when>
                <when test="criterion.singleValue" >
                  and ${criterion.condition} #{criterion.value}
                </when>
                <when test="criterion.betweenValue" >
                  and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}
                </when>
                <when test="criterion.listValue" >
                  and ${criterion.condition}
                  <foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
                    #{listItem}
                  </foreach>
                </when>
              </choose>
            </foreach>
          </trim>
        </if>
      </foreach>
    </where>
  </sql>
  <sql id="Base_Column_List" >
    wxstateid, wxstatename
  </sql>
  <select id="selectByExample" resultMap="BaseResultMap" parameterType="com.accp.domain.WxstateExample" >
    select
    <if test="distinct" >
      distinct
    </if>
    <include refid="Base_Column_List" />
    from wxstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
    <if test="orderByClause != null" >
      order by ${orderByClause}
    </if>
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from wxstate
    where wxstateid = #{wxstateid,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from wxstate
    where wxstateid = #{wxstateid,jdbcType=INTEGER}
  </delete>
  <delete id="deleteByExample" parameterType="com.accp.domain.WxstateExample" >
    delete from wxstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </delete>
  <insert id="insert" parameterType="com.accp.domain.Wxstate" >
    insert into wxstate (wxstateid, wxstatename)
    values (#{wxstateid,jdbcType=INTEGER}, #{wxstatename,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.accp.domain.Wxstate" >
    insert into wxstate
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="wxstateid != null" >
        wxstateid,
      </if>
      <if test="wxstatename != null" >
        wxstatename,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="wxstateid != null" >
        #{wxstateid,jdbcType=INTEGER},
      </if>
      <if test="wxstatename != null" >
        #{wxstatename,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <select id="countByExample" parameterType="com.accp.domain.WxstateExample" resultType="java.lang.Integer" >
    select count(*) from wxstate
    <if test="_parameter != null" >
      <include refid="Example_Where_Clause" />
    </if>
  </select>
  <update id="updateByExampleSelective" parameterType="map" >
    update wxstate
    <set >
      <if test="record.wxstateid != null" >
        wxstateid = #{record.wxstateid,jdbcType=INTEGER},
      </if>
      <if test="record.wxstatename != null" >
        wxstatename = #{record.wxstatename,jdbcType=VARCHAR},
      </if>
    </set>
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByExample" parameterType="map" >
    update wxstate
    set wxstateid = #{record.wxstateid,jdbcType=INTEGER},
      wxstatename = #{record.wxstatename,jdbcType=VARCHAR}
    <if test="_parameter != null" >
      <include refid="Update_By_Example_Where_Clause" />
    </if>
  </update>
  <update id="updateByPrimaryKeySelective" parameterType="com.accp.domain.Wxstate" >
    update wxstate
    <set >
      <if test="wxstatename != null" >
        wxstatename = #{wxstatename,jdbcType=VARCHAR},
      </if>
    </set>
    where wxstateid = #{wxstateid,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.accp.domain.Wxstate" >
    update wxstate
    set wxstatename = #{wxstatename,jdbcType=VARCHAR}
    where wxstateid = #{wxstateid,jdbcType=INTEGER}
  </update>
</mapper>